{% extends 'partials/base.html' %}

{% block content %}
<h2 class="row justify-content-center">Articles</h2>
{% for article in articles %}
<div class="card" style="width: 70rem;">
   {% if article.image %}
    <img class="card-center" src="{{ article.image.url }}" alt="{{ article.title }}" style="max-width: 300px;">
    {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ article.title }}</h5>
    <p class="card-text">{{ article.content }}</p>
      <p><small>Link: <a href="{{ article.url }}" target="_blank">{{ article.url }}</a></small></p
  </div>

</div>
<a href="{% url 'hospital_admin:add_article' %}">Add a New Article</a>
  {% endfor %}

<a ></a>

{% endblock %}

    <div class="">

        {% for d in service.available_doctors.all %}
            <div class="p-1 mb-4 shadow d-flex align-items-center">
                <a href="course-detail.html">
                    <img src="{{d.image.url}}" alt="course" style="width: 70px; height: 70px; object-fit: cover; border-radius: 5px;" class="card-img-top" />
                </a>
                <div class="card-body">
                    <div class="mt-2 d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="mb-1 text-truncate-line-2"><a href="course-detail.html" class="text-inherit text-dark text-decoration-none">{{d.full_name}}</a></h5>
                            <div class="d-flex gap-2">
                                <p class="fw-semibold mt-0 mb-0">Time Available:</p>
                                <p class="mt-0 mb-0">{{d.next_available_appointment_date}}</p>
                            </div>
                            <div class="d-flex gap-2">
                                <p class="fw-semibold mt-0 mb-0">Price:</p>
                                <p class="mt-0 mb-0">Rs.{{service.cost}}</p>
                            </div>
                        </div>

                        <div>
                            <a href="{% url 'hospital_admin:add_article' %}" class="btn btn-primary me-4">Add a New Article <i class="fas fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>